.form {
    font-family: "Source Sans Pro", serif;
    color: #ffffff;
    margin: 0 auto;
    width: 70%;
    padding-bottom: 100px;
    padding-top: 100px;
  }
  @media screen and (max-width: 850px){
    .form{
      width: 90%;
    }
  }