.intro__content-title{
    font-size: 80px;
    line-height: 96px;
    font-weight: normal;
    font-family: 'Bitter', serif;
    margin-top: 7%;
    margin-bottom: 7%;
}

@media screen and (max-width: 1220px) {
    .intro__content-title{
        font-size: 6vw;
    }
    
}


/* @media screen and (max-width:455px){
    .intro__content-title{
        font-size: 55px;
        line-height: 60px;
    }
}


@media screen and (max-width:410px){
    .intro__content-title{
        font-size: 40px;
        line-height: 55px;
    }
}


@media screen and (max-width:320px){
    .intro__content-title{
        font-size: 37px;
        line-height: 50px;
    }
    
} */