.intro{
    display:flex;
    justify-content: space-between;
    margin-top: 4%;
    width: 78vw;
    margin: 0 auto;
    
    
}



@media screen and (max-width:1233px){
    .intro{
        justify-content: center;
        flex-wrap: wrap-reverse;
        text-align: center;
        
    }
    
}