.project__card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

@media screen and (max-width:1233px){
    .project__card{
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;  
    }
    
}